//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color: #004d6e;
$secondary-color: #cb1a20;
$tertiary-color: #27A0B6;

// Branch site colors
$allColor: #ef6d1a;
$navyColor: #004d6e;
$armyColor: green;
