main.list,
main.single{

	h2 a{
		text-decoration: none;
	}
}

main.list{
	article{
		margin-top: 30px;
		border-top: 1px solid #333333;

		&:first-of-type{
			border-top: none;
		}
	}

	h2{
		margin-bottom: 0;
	}

	footer{
		text-align: right;
	}

	a.read-more{

		.fa-chevron-right{
			font-size: smaller;
		}
	}	
}

main.single{

	.posted-on{
		display: block;
		text-align: center;
	}

	h1{
		margin: 0;
	}

	img.feature{
		margin-top: 20px;

		&.medium{
			width: 50%;
		}
	}

	article .content{
		margin: 15px 8% 0;
	}

	footer{
		margin-top: 30px;
		border-top: 1px solid grey;
	}
}
