body{
	display: flex;
	flex-direction: column;
	background-color: #edeef0;
	min-height: 100vh;
}

body > header{

	background-color: white;
}

a.toggle{
	display: none;
}

#main-nav{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 0 10%;
	padding: 0 10px;
	height: 70px;
	line-height: 70px;
	z-index: 10;

	.site-title{
		width: 25%;
		height: 100%;

		img{
			margin-right: 5px;
			height: 50%;
		}
	}

	ul.main {

		li{
			padding: 0 10px;
			height: 70px;
		}

		> li.active{
			border-bottom: 4px solid $secondary-color;
		}

		li:hover > a{
			font-weight: bold;
		}

		li.parent{
			position: relative;

			.state{
				font-size: smaller;
			}

			&.closed .state.down{
				display: none;
			}

			&.opened .state.down{
				display: inline;
			}

			&.opened .state.up{
				display: none;
			}
		}

		ul.sub.menu{
			display: none;
			position: absolute;
			border: 1px solid $primary-color;
			background-color: white;
			width: 180px;

			li{
				text-align: center;
			}
		}
	}
}

body > header nav.section{
	background-color: $primary-color; /* default color */
	padding: 0 20px;
	height: 50px;
	line-height: 50px;

	&.all{
		background-color: $allColor;
	}

	&.navy{
		background-color: $navyColor;
	}

	&.army{
		background-color: $armyColor;
	}

	&.blog{
		background-color: $allColor;
	}

	ul{
		width: 100%;
		height: 50px;
		overflow-x: auto;
		white-space: nowrap;
	}

	li{
		float: none;
		display: inline-block;
		padding: 0 10px;
	}
		li:first-child{
			
		}
		li:first-child::after{
			padding-left: 20px;
			content: "|";
		}
}

main.list,
main.single{
	margin: 65px 14% 0;
	border-radius: 20px;
	background-color: white;
	padding: 0 20px 15px;
	overflow: auto;

	img{
		max-width: 100%;
	}

	article .content{
		margin: 15px 8% 0;
	}
}

#footer-spacer{
	flex: 1;
}

body > footer{
	margin-top: 40px;
	text-align: center;

	img.logo{
		width: 100px;
	}

	nav{
		display: flex;
		justify-content: center;
		padding: 10px 0;
		width: 100%;
		color: #454545;

		a{
			color: #454545;
			text-decoration: none;
			font-weight: bold;
		}

	}

	ul.menu.footer{
		width: 180px;
		font-size: smaller;

		li{
			padding: 0 8px;
			height: 27px;
			line-height: 27px;
		}
	}

	ul.menu.social{
		width: 100px;

		li{
			padding: 0 4px;
		}
	}

	.legal{
		background-color: #dcdcdc;
		padding: 12px;
		font-size: smaller;
	}
}


//-------------------------------------
// Sections & Types
//-------------------------------------
body.section-blog{
	@import "section-blog";
}

body.section-navy{
	@import "section-navy";
}

body.section-army{
	@import "section-army";
}

body.type-doc{
	@import "type-doc";
}

dl{
	dt {
		display: inline;
	}

	dt + dt:before {
		content: "(";
	}
	dt + dt:after {
		content: ")";
	}
}

main.single.news{

	display: flex;
	flex-wrap: wrap;
	
	#intro-section{
		width: 100%;
	}

	.twitter-timeline{
		width: 50%;
	}
}
