html{
	font-size: 62.5%;
}

body{
	color: #1C1C1C;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-size: 1.8rem;

	a{
	}
}

body > header{

	color: $primary-color;

	.site-title{
		font-size: 2.0rem;
		font-weight: bold;
	}

	a{
		color: $primary-color;
		text-decoration: none;
	}

	ul.menu li.active > a{
		font-weight: bold;
	}
}

#branch-nav,
#branch-nav a{
	color: white;
}

main{
	h1,
	h2,
	h3,
	h4,
	h5{
	}

	h1{
		text-align: center;
		font-size: 4.5rem;
	}

	h2{
		margin-bottom: 0;
		font-size: 2.9rem;
	}

	.content a{
		color: $tertiary-color;
		font-weight: bold;
	}

	a.continue{
		color: #FFFFFF;
		font-weight: bold;
	}

	a.comment{
		font-weight: bold;
	}
}
