<div id="footer-spacer"></div>
<footer>
	<img class="logo" src="/assets/img/logos/logo-badge-monochrome.svg" />
	<nav>
		<ul class="menu h footer">
			<li><a href="/about">About TRF</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
		<ul class="menu h social">
			<li><a href="https://facebook.com/TheReserveForce"><span class="fab fa-facebook"></span></a>
			<li><a href="https://twitter.com/TheReserveForce"><span class="fab fa-twitter"></span></a></li>
			<li><a href="https://www.linkedin.com/company/thereserveforce"><span class="fab fa-linkedin"></span></a></li>
			<li><a href="https://www.instagram.com/thereserveforce/"><span class="fab fa-instagram"></span></a></li>
		</ul>
	</nav>
	<div class="legal">
		<p>© {{ now.Format "2006" }} {{ .Site.Title }}. This website is not affiliated with the U.S. Department of Defense nor any branch of military.</p>
	</div>
</footer>
