<div class="share-buttons">
	<div class="share-down">Share<br /><span class="fas fa-chevron-down"></span></div>
	<div class="share-right">Share <span class="fas fa-chevron-right"></span></div>
	<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&display=popup" title="Share on Facebook" target="_blank">
		<span class="fab fa-facebook-f"></span>
	</a>
	<a data-proofer-ignore class="email" href="mailto:?subject=Read%20This%20Article:%20{{ .Title }}&body=Check%20out%20this%20blog%20post%20from%20The%20Reserve%20Force:%20{{ .Permalink }}" title="Share via email" target="_blank">
		<span class="fas fa-envelope"></span>
	</a>
	<a class="linkedin" href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}&mini=true&source=TheReserveForce" title="Share on LinkedIn" target="_blank">
		<span class="fab fa-linkedin"></span>
	</a>
	<a class="reddit" href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" title="Share on Reddit" target="_blank">
		<span class="fab fa-reddit-alien"></span>
	</a>
	<a class="twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title |  }}&via=TheReserveForce" title="Share on Twitter" target="_blank">
		<span class="fab fa-twitter"></span>
	</a>
</div>
